.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 350px;
    padding: 8px;
    font: 10px sans-serif;
    background: #ffff99;
    border: solid 1px #aaa;
    border-radius: 8px;
    pointer-events: none;
}


div.attributetip {
    position: absolute;
    top: 0px;
    left: 900px;
    text-align: center;
    /*width: 400px;*/
    /*height: 1100px;*/
    padding: 8px;
    font: 10px sans-serif;
    background: green;
    border: solid 1px red;
    border-radius: 8px;
    pointer-events: none;
}


.toggled_on {
    background: green;
    border: solid 1px green;
    border-radius: 80px;
    pointer-events: none;
    fill: green;
}


.chart rect {
    fill: red;
    opacity: 0.5
}


.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}